.ProjectsContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.Container {
  display: flex;
}

.ProjectsSVG {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 150px;
  width: auto;
  padding-left: 150px;
}

.ProjectsHeader {
  height: 150px;
  width: auto;
  font-family: "Montserrat";
  font-size: 100px;
  font-weight: 900;
  margin-top: 50px;

}

.GalleryContainer {
  display: flex;
  flex-direction: row;

}
.ProjectGallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 70px;
}


.Project1 {
    display: block;
    height: 350px;
    width: 400px;
    background-color: black;
    margin: 2px;
    background-image: url(/svgs/GaMatcher.svg);
    background-size: 500px 350px;
    justify-content: center;
    flex-grow: 100%;
    transition: all 600ms;
    background-repeat: no-repeat;
    background-position: center;
}

.Project2 {
    display: block;
    height: 350px;
    width: 400px;
    background-color: black;
    margin: 2px;
    background-image: url(/svgs/NodeSent2.svg);
    background-size: 500px 353px;
    justify-content: center;
    flex-grow: 100%;
    transition: all 600ms;
    background-repeat: no-repeat;
    background-position: center;
}

.Project3 {
    display: block;
    height: 350px;
    width: 400px;
    background-color: black;
    margin: 2px;
    background-image: url(/svgs/APIGlossaryIcon.svg);
    background-size: 450px 390px;
    justify-content: center;
    flex-grow: 100%;
    transition: all 600ms;
    background-repeat: no-repeat;
    background-position: center;
}




.HoverBox {
  display: inline-block;
  height: 350px;
  width: 400px;
  background-color: inherit;
  transition: all 1s;
  transition-timing-function: ease-in-out;
  justify-content: center;
  position: relative;
}

.HoverBox:Hover {

}

.HoverBox:Hover .Project1 {
  /*background-color: black;
  background-image: none;*/
  opacity: 0;
}

.HoverBox:Hover .Project2 {
  /*background-color: black;
  background-image: none;*/
  opacity: 0;
}

.HoverBox:Hover .Project3 {
  opacity: 0;
}

.ProjectLanguage {
  display: inline-block;
  height: 60px;
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  transition: all 500ms;
  transition-timing-function: ease-in-out;

}

.BoldText {
  width: 100%;
  height: 50%;
  font-size: 30px;
  font-weight: 900;
}

.LearnMore {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 125px;
  height: 30px;
  border-style: solid;
  border-color: black;
  text-align: center;
  padding-top: 5px;
  font-weight: 600;
  opacity: 0;
  transition: all 500ms;
  transition-timing-function: ease-in-out;
}

.HoverBox:Hover .LearnMore {
  opacity: 1;
  transform: translateY(-100px);
}

.HoverBox:Hover .ProjectLanguage {
  opacity: 1;
  transition: all 500ms;
  transition-timing-function: ease-in-out;
  transform: translateY(100px);

}


.imgProject {
  width: 100%;
  height: 100%;
}

/*.Project2 {
  display: flex;
  height: 350px;
  width: 400px;
  background-color: black;
  margin: 2px;
  background-image: url("../Images/Ga-Matcher.PNG");
  background-size: 100% 100%;
}*/

.Project3 {
  display: flex;
  height: 350px;
  width: 400px;
  background-color: black;
  margin: 2px;
}

@media only screen and (max-width:576px) {
  .ProjectsContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    max-width: 36rem;
  }

  .ProjectsHeader {
    height: auto;
    width: auto;
    font-family: "Montserrat";
    font-size: 4rem;
    font-weight: 900;
    margin-top: 3.5rem;
  }

  .ProjectGallery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0px;
    width: 100%;
  }

  .HoverBox {
    display: inline-block;
    height: 272px;
    width: 100%;
    background-color: inherit;
    transition: all 1s;
    transition-timing-function: ease-in-out;
    justify-content: center;
    position: relative;
  }

  .Project1 {
    display: block;
    height: 100%;
    width: auto;
    background-color: #f8f8f8;
    margin: 0px;
    background-image: url(/svgs/GaMatcher.svg);
    background-size: 110%;
    justify-content: center;
    flex-grow: 105%;
    transition: all 600ms;
    background-repeat: no-repeat;
    background-position: center;
  }

  .Project2 {
    display: block;
    height: 100%;
    width: auto;
    background-color: #f8f8f8;
    margin: 0px;
    background-image: url(/svgs/NodeSent.svg);
    background-size: 105%;
    justify-content: center;
    flex-grow: 100%;
    transition: all 600ms;
    background-repeat: no-repeat;
    background-position: center;
  }

  .Project3 {
    display: block;
    height: 100%;
    width: auto;
    background-color: #f8f8f8;
    margin: 0px;
    background-image: url(/svgs/APIGlossary.svg);
    background-size: 105%;
    justify-content: center;
    flex-grow: 100%;
    transition: all 600ms;
    background-repeat: no-repeat;
    background-position: center;
  }


}
